body {
  background-color: #fef7fc;
}

h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.container {
  width: 700px;
  display: block;
  margin: 50px auto;
  text-align: center;
}

.form-container {
  width: 100%;
  display: flex;
}

.hint {
  opacity: 0.5;
  line-height: 1.5;
  text-align: left;
  font-size: 15px;
  padding: 10px;
  margin-left: 45px;
}

.submit-form {
  width: 400px;
  padding: 16px;
  font-size: 18px;
  border-radius: 50px;
  color: black;
  background-color: white;
  border: 1px solid rgb(93, 13, 63);
  line-height: 1.5;
  margin-top: 20px;
}

.submit-button {
  width: 150px;
  padding: 18px 24px;
  font-size: 18px;
  border-radius: 50px;
  color: white;
  background: #885df1;
  background-color: rgb(93, 13, 63);
  border: none;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.poem {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  color: black;
  background-color: white;
  border-left: 3px solid #885df1;
  margin-top: 40px;
  line-height: 1.5;
}

.poem-container {
  background-color: white;
  border-radius: 30;
}

footer {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: black;
  margin-top: 40px;
  line-height: 1.5;
}
